.background {
  height: 100%;
  background-image: url('../background.jpg');
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 9vw;
  font-weight: 900;
  color: rgba(220, 220, 220, 0.85);
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translate(-50%, 0);
  background-color: rgb(220, 220, 220, 0.85);
  border: 4px solid white;
  border-radius: 20px;
  overflow: hidden;
}

.btn {
  display: inline-block;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.setModeBtn {
  height: 50px;
  width: 300px;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: orange;
}

.playerInfoBtn {
  height: 50px;
  width: 300px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #1b82e6;
}

.input {
  height: 40px;
  width: 300px;
  font-size: 1.2rem;
  color: #003366;
  background-color: transparent;
  margin-top: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #1b82e6;
  padding: 0px;
}

.input::placeholder {
  color: #003366;
  opacity: 0.5;
}

.error {
  width: 300px;
  color: orangered;
  font-size: 1rem;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 400px) {
  .container {
    width: 100%;
  }

  .setModeBtn {
    width: 90%;
    padding: 10px 0;
  }

  .playerInfoBtn {
    width: 90%;
    padding: 10px 0;
  }

  .input {
    width: 90%;
  }

  .error {
    width: 90%;
  }
}
