* {
  box-sizing: border-box;
}

.backGround {
  width: 100%;
  height: 100%;
  background-color: #c3c3c7;
}

.info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 2vh 0;
  font-family: 'Press Start 2P', cursive;
  font-weight: normal;
  font-size: 2vh;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.gridContainer {
  position: absolute;
  width: 100%;
  top: 52%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.playerGrid {
  width: 45vw;
  height: 45vw;
  max-width: 90vh;
  max-height: 90vh;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #03a9f4;
  margin: 10px;
  border: 0.1px solid rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

.playerGrid div {
  width: 10%;
  height: 10%;
  border: 0.1px solid rgba(255, 255, 255, 0.7);
}

div.taken {
  background-color: #578018;
  border: none;
}

.top {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.bottom {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.left {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.shipsGrid {
  width: 45vw;
  height: 45vw;
  max-width: 90vh;
  max-height: 90vh;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  overflow-y: hidden;
}

.enemyGrid {
  width: 45vw;
  height: 45vw;
  max-width: 90vh;
  max-height: 90vh;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #03a9f4;
  margin: 10px;
  border: 0.1px solid rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

.enemyGrid div {
  width: 10%;
  height: 10%;
  border: 0.1px solid rgba(255, 255, 255, 0.7);
}

.hit,
.miss {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hit::after,
.miss::after {
  content: '';
  position: absolute;
  border-radius: 100%;
  width: 1.5%;
  height: 3%;
}

.hit::after {
  background-color: red;
}

.miss::after {
  background-color: white;
}

.instructions {
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  font-weight: normal;
  font-size: 1vw;
  text-align: center;
  padding: 6% 0;
  color: rgb(223, 152, 0);
}

.destroyerContainer.vertical {
  width: 10%;
  height: 20%;
  margin: 10px;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  cursor: move;
}

.destroyerContainer.horizontal {
  width: 20%;
  height: 10%;
  margin: 10px;
  margin-top: 5%;
  display: flex;
  cursor: move;
}

.submarineContainer.vertical {
  width: 10%;
  height: 30%;
  margin: 10px;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  cursor: move;
}

.submarineContainer.horizontal {
  width: 30%;
  height: 10%;
  margin: 10px;
  margin-top: 5%;
  display: flex;
  cursor: move;
}

.cruiserContainer.vertical {
  width: 10%;
  height: 30%;
  margin: 10px;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  cursor: move;
}

.cruiserContainer.horizontal {
  width: 30%;
  height: 10%;
  margin: 10px;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  cursor: move;
}

.battleshipContainer.vertical {
  width: 10%;
  height: 40%;
  margin: 10px;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  cursor: move;
}

.battleshipContainer.horizontal {
  width: 40%;
  height: 10%;
  margin: 10px;
  margin-top: 5%;
  display: flex;
  cursor: move;
}

.carrierContainer.vertical {
  width: 10%;
  height: 50%;
  margin: 10px;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  cursor: move;
}

.carrierContainer.horizontal {
  width: 50%;
  height: 10%;
  margin: 10px;
  margin-top: 5%;
  display: flex;
  cursor: move;
}

.vertical div {
  width: 100%;
  background-color: #578018;
}

.horizontal div {
  flex-grow: 1;
  height: 100%;
  background-color: #578018;
}

.btnContainer {
  width: 100%;
  padding-bottom: 8%;
  display: flex;
  justify-content: space-around;
}

.rotateBtn {
  width: 24vw;
  height: 4vw;
  position: relative;
  background-color: rgba(223, 152, 0, 0.9);
  font-size: 2vw;
}

@media screen and (max-width: 800px) {
  .info {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 1vh;
  }
  .gridContainer {
    align-items: center;
    flex-direction: column;
  }

  .playerGrid {
    width: 40vh;
    height: 40vh;
  }

  .shipsGrid {
    width: 40vh;
    height: 40vh;
  }

  .enemyGrid {
    width: 40vh;
    height: 40vh;
  }

  .instructions {
    font-size: 1.2vh;
  }

  .rotateBtn {
    width: 24vh;
    height: 6vh;
    font-size: 2vh;
  }

  .hit::after,
  .miss::after {
    width: 1.2%;
    height: 1%;
  }
}

@media screen and (max-width: 450px) {
  .hit::after,
  .miss::after {
    width: 2%;
    height: 1%;
  }
}
