.btn {
  display: inline-block;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.setModeBtn {
  height: 50px;
  width: 300px;
  margin: 20px 0;
  background-color: orange;
}

.playerInfoBtn {
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
  background-color: #1b82e6;
}

.input {
  height: 40px;
  width: 300px;
  font-size: 1.2rem;
  color: #003366;
  background-color: transparent;
  margin-top: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #1b82e6;
  padding: 0px;
}

.input::placeholder {
  color: #003366;
  opacity: 0.5;
}

.error {
  width: 300px;
  color: orangered;
  font-size: 1rem;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 30px;
}
